.acknowledgeheadcenter {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 4%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0%
    }
.acknowledgetextcenter {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 3%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0%
    }
.adcardheadcenter {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0%
    }
.adcardsubheadcenter {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
    text-align: center;
    text-indent: 0%
    }
.adcardtextcenter {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0%
    }
.bold {
    display: inline;
    font-weight: bold
    }
.bold1 {
    display: inline;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.bold2 {
    display: inline;
    font-weight: bold;
    line-height: 1.2
    }
.calibre {
    height: auto;
    width: auto
    }
.calibre1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.chapternumberright {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: right;
    text-indent: 0%
    }
.chapteropenerfirstwords {
    display: inline;
    font-size: 1em;
    font-weight: bold
    }
.chapteropenertext {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0%
    }
.contentsentryname {
    display: block;
    font-size: 1em;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1%;
    text-indent: 0%
    }
.contentshead {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-align: center;
    text-indent: 0%
    }
.copyrighttextleft {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3%;
    text-indent: 0%
    }
.dedicationpage {
    display: block;
    margin-top: 10%
    }
.italic {
    display: inline;
    font-style: italic
    }
.para {
    display: block;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1em
    }
.reviewpage {
    display: block
    }
.reviewpagehead {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
    text-align: center;
    text-indent: 0%
    }
.reviewpagesource {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0%
    }
.reviewpagetext {
    display: block;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0%
    }
.smallcaps {
    font-size: 0.75em
    }
.spacebreak {
    display: block;
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
    text-align: center;
    text-indent: 0%
    }
.text {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.titlepage {
    display: block;
    margin-top: 3%
    }
.titlepageauthor {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 25%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center;
    text-indent: 0%
    }
.titlepagelogocenter {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0%
    }
.titlepagetitle {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    text-align: center;
    text-indent: 0%
    }
.xrefurl {
    color: blue;
    display: inline
    }

@page {
    margin-bottom: 5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

